.alert {
    width: 470px;
    padding: 5px;
}

#camera, #result {
    border: 2px dashed #00ADB5;
    height: 220px;
    width: 220px;
}

body {
    background-color: #163172;
    color: #D6E4F0;
}

h1 {
    width: 350px;
    padding: 5px;
}